*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;

}
.box{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}
.box1{
    float: right;
    bottom:550px;
}